.speaker-card {
  display: flex;
  flex-direction: column;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}

.speaker-card .speaker-item {
  --min-height: 85px;
}

ion-title{
  text-align: center;
}
.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

ion-card-title{
  font-size: 20px;
  margin-bottom: 5%;
}

p {
  font-size: 15px;
}
.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}