<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mirica Yancey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="header">  
  <h1>Announcements</h1>
</div>  
<p id="heading">Today</p>


<div class="card" *ngFor= "let article of data?.articles" (click)="openUrl(article.url);">

<div class="img_background">
  <img  class="image" src= "{{article.image}}">
</div>

<div class="content">
<p class="title">{{article.title}}</p>
<p class="desc">{{article.description}}</p>
<p class="source">by {{article.author}} | {{article.source.name}}</p>
</div>

</div>
</ion-content>
