


/*Headers*/
h1{
  padding:0;
  margin:0;
}


.header{
  text-align: center;
  color: rgb(146, 184, 197);
  border-bottom-style: solid;
  border-color: lightblue;
  border-width: 2px;
  width: 55%;
  margin-left:22%;
  margin-top: 5%;
  margin-bottom: 8%;

}
#heading{
    margin-top:2%;
    font-size:18px;
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: lightblue;
    border-width: 2px;
    color: rgb(146, 184, 197);
    margin-bottom: 5%;
    width:16%;
    margin-left:5%;
    padding-left: 0;

  }
///////////////////////////////////////////////////////////////////////



/*Overall Card Container */
.card{
    height: 185px;
    border:none;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom:30px;
    padding-top: 2%;
    border-width: 3px;
    padding-bottom:3%;
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



/* Image CSS */
.img_background{
  display: block;
  background-color: lightblue;
  width:40%;
  float:left;
  height: 65%;
  margin-top:8%;
  margin-left: 5%;
}

.image{
    height: 96%;
    margin-left: 2%;
    width: 96%;
    margin-top: 2%;
}
////////////////////////////////////////////////////////////////////




/* Right Sided Content */
p{
  margin:0;
  padding:1%;
  bottom:0;
  color: rgb(60, 181, 221);

}
.content{  //Container for Title, Description and Source
  width: 50%;
  float:right;
  padding:0;
  margin:0;
  height: 100%;
  padding-right: 3%;
  margin-top:5%;
  position: relative;
  
}

.title{
  overflow:hidden;
  text-overflow:ellipsis;
  font-size: 15px;   
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: lightblue;
  padding-top: 2%;
  padding-bottom:1%;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  border-width: 2px;
}

.desc{
  overflow:hidden;
  margin-top:4%;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 14px;

}
// .source{
//     overflow:hidden;
//     text-overflow:ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2; /* number of lines to show */
//     -webkit-box-orient: vertical;
//     font-size: 12px;
//     margin-top: 3%;
//     width:100%;
//     position: absolute;
//     bottom:15%;
// }