@import "@tomtom-international/web-sdk-maps";     
#map {
      
    height: 50vh;
      
    width: 100%;
      }

      
 #check{
     background-color: lightblue;
     border-radius: 15px;
     width:40%;
     height:50px;
     border-color:lightblue;
     margin-left: 7%;
     margin-bottom: 5%;
     font-size: 20px;
 }  
 #name{
     text-align: center;
 }   
.header{
    text-align: center;
    color: rgb(146, 184, 197);
    border-bottom-style: solid;
    border-color: lightblue;
    border-width: 2px;
    width: 55%;
    margin-left:22%;
    margin-top: 10%;

}
  .fence_name{
      padding-top:3%;
      text-align: center;
  }
  .time{
      float:right;
      margin-right: 10%;
      font-size: 15px;
      border-color: lightgray;
      border-bottom: solid;
  }

  .info{
      max-height: 100px;
      overflow: hidden;
      margin-bottom: 6%;
      text-overflow: ellipsis;
  }
  .card{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: snow;
    height: 22%;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  #content{
      margin-left: 5%;
      padding-bottom: 3%;
  }
