<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" (click)="colorExposure()">
  <div class="header">  
    <!-- <h1>Map</h1> -->
    <p>Last Pin: {{timestamp}}</p>
  </div>
  <br>
  <button (click)="getCount()" id="check">Refresh</button>
  <button (click)="checkIn()" id="check">Check In</button>
  <div id="map"></div>
  <button (click) = "presentAlert()">Notify</button>
  <br>
    <div  class="card" *ngFor="let fence of fenceList | async">
        <div id="content">
        <h2 class="fence_name">{{fence.name}} &nbsp;{{time}}</h2>
      <p id="pop"> Population: {{ fence.population }}</p>
       <p class="exposure"> Exposure Risk: </p>
      </div>
  </div>
</ion-content>
