@import "@tomtom-international/web-sdk-maps";  
  .fence_name{
      padding-top:3%;
  }
  .time{
      float:right;
      margin-right: 10%;
      font-size: 15px;
      border-color: lightgray;
      border-bottom: solid;
  }

  .info{
      max-height: 100px;
      overflow: hidden;
      margin-bottom: 6%;
      text-overflow: ellipsis;
  }
  .card{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: snow;
    height: 20%;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  #content{
      margin-left: 5%;
      padding-bottom: 3%;
  }