ion-title{
    text-align: center;
}
ion-label{
    padding-left:5%;
    padding-right: 2%;
}
.login_input{
  width: 60%;
  height: 50px;
  padding: 12px 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 5%;
  margin-bottom: 4%;
  margin-top: 4%;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}
ion-button{
margin-bottom: 5%;
  margin-top: 5%;
  width: 40%;
  height: 50px;
}