<ion-header>
  <ion-toolbar>
    <ion-title>Login!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<br>

  <ion-list>
    
    <ion-item>
      <ion-label>Email</ion-label>
      <input class="login_input" type="text" onfocus="this.value=''" value="" [(ngModel)]="email" required>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <input type="password" class="login_input" onfocus="this.value=''" value="" [(ngModel)]="password" required>
    </ion-item>
  </ion-list>
  <ion-button fill="solid" color="light" href="/register" style="float:left; margin-left:5%;">Register</ion-button>
  <ion-button fill="solid" color="tertiary" (click)="login()"style="float:right; margin-right:7%" >Log In</ion-button>
  <p routerLink="/forgot-password" style="float:left; margin-left:7%;color:red;">Forgot Password?</p>
</ion-content>
