

/*Headers*/
h1{
    padding:0;
    margin:0;
    text-align: center;
    color: rgb(146, 184, 197);
    border-bottom-style: solid;
    border-color: lightblue;
    border-width: 2px;
    width: 55%;
    margin-left:22%;
    margin-top: 5%;
    margin-bottom: 8%;

}

h2{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: rgb(146, 184, 197);
    border-bottom-style: solid;
    border-color: lightblue;
    border-width: 2px;
    width: 75%;
    margin-left: 12%;
}