<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="header">  
    <h1>Symptom Checker</h1>
  </div>  

  <br>
  <br>
  <!-- Question 1 -->
  <ion-item lines="none" class="question">1. Have you had close contact with someone diagnosed with COVID-19 or been notified that you have been exposed to it?</ion-item>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-list>
      <!-- <ion-item lines="none">
        <ion-label>No</ion-label>
        <ion-checkbox>
        </ion-checkbox>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Yes</ion-label>
        <ion-checkbox>
        </ion-checkbox>
      </ion-item> -->
      <ion-radio-group>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>

  <!-- Question 2 -->
  <ion-item lines="none" class="question">2. Which of these symptoms are you experiencing?</ion-item>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item lines="none" *ngFor="let item of SYMPTOMS_LIST; let i=index">
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox slot="end" [value]="item.value" [checked]="item.checked"
          (ionChange)="onSelectionChangeSymptom($event,i)">
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </form>

  <!-- Question 3 -->
  <ion-item lines="none" class="question">3. If you have shown symptoms, are you experiencing any of these signs?</ion-item>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item lines="none" *ngFor="let item of SIGNS_LIST; let i=index">
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox slot="end" [value]="item.value" [checked]="item.checked"
        (ionChange)="onSelectionChangeSign($event,i)">
        </ion-checkbox>
      </ion-item>
      <div lines="none" class="center">
        <ion-button size="default" class="center" type="submit">Submit</ion-button>
      </div>
    </ion-list>
  </form>

</ion-content>
